[2021-03-01 16:52] jordanstudioroot opened #1 "When opening a new tab, the app presents the same view."
*Problem:*
I opened a new tab because I wanted to have the sample instructions in one window while I played with the app in the other. When I did this, it duplicated my view in both tabs. Changes in one tab affected the other.

*Expected Result:*
Duplicate tabs running the app should be independent of each other.

*Preconditions:*
* As Of Commit:  33dca86bf6f6184cab54b33f3864a0bc7b966ea3
* Device:

[2021-03-01 17:06] gautamkrishnar opened #2 "Add support for tab key pressing on branching"
Right now you need to press multiple space keys for branching. It is better if tab key can be used.

[2021-03-01 17:08] rob-gordon commented on #1
I opted for keeping the current state of the textarea in window.localStorage - mainly because if people have written a bunch of lines and accidentally navigate away I wouldn't want them to lose their work.

For now, if you open an incognito window with the app you'll be able to see the instructions while you work on your flowchart

I'll leave this issue open for a bit to see if other people also f

[2021-03-01 17:34] j-martin opened #3 "Feature - Include the original code/text in the SVG"
The idea is to be able to track the code/text that was used to generate the SVG without needing a separate file for the original code/text. It could a simple XML comment or some better way to track data.

We could even go a step further to be able to load existing SVG (created by flowchart-fun) for quick edits later on if the original code/text was lost. E.g. somebody who attached the SVG on a wik

[2021-03-01 17:43] xtracool opened #4 "Feature - colorize"
Be able to set the color of a box, a line.

[2021-03-01 19:01] ahmedahmedov opened #6 "Feature - add tags to nodes"
Only linking via the line numbers is problematic, because one has to readjust all the numbers again if a line is added to the middle. If we have a tag for each node, then we can link by using these tags and that would eliminate the line number sliding problem

[2021-03-01 19:03] ahmedahmedov commented on #6
sample:
`this app works by typing [node1]
 new lines create new nodes [node2]
  indentation creates child nodes
  any text: before a colon+space creates a label
   and: you can link to nodes with their line number in parentheses
    like this: [node1]`

[2021-03-01 19:35] rob-gordon commented on #6
I really the implementation someone suggested in the hackernews comments.

[code]

[2021-03-01 19:37] rob-gordon commented on #6
Going to hack at this this evening! Thank you for making the issue!

[2021-03-01 20:06] rob-gordon commented on #2
Closed by #7

[2021-03-01 20:06] #2 closed

[2021-03-01 20:25] rob-gordon opened #8 "Self-referential node looks bad"
[code]

![Screen Shot 2021-03-01 at 3 23 12 PM](https://user-images.githubusercontent.com/159949/109554498-4bcdc800-7aa2-11eb-86cb-52d518a5b0da.png)

[2021-03-01 21:02] doctorlard opened #9 "Feature: questions (decisions) are presented in diamonds"
I love it :-) How about a sentence ending in a question mark (?) could be drawn as a diamond, with arrows coming from the corners (for the first three branches anyway). e.g.
[code]

[2021-03-01 23:11] jjkinsey opened #10 "Bug: Pressing tab with text selected overwrites selection & bypasses undo"
Repro: enter text in the text area, select it, and press tab. Then, try using Undo to undo the change. The change will not be undoable.
Expected: Undo functions as usual.

Presumably this has something to do with how the tab functionality is implemented. Breaking undo is a bug, but I think it would be best if pressing tab with text selected indented each line of the selected text (trying this is h

[2021-03-02 00:34] rob-gordon commented on #10
Thanks for flagging this. I really want to preserve undo functions for people so they don't lose their work. I'm going to temporarily roll back to before the tab functionality was done earlier today. It seems like the longer-term fix for this problem is to move from a textarea to a more robust javascript code editor (maybe something like CodeMirror) to support tabbing and other stuff.

[2021-03-02 02:03] danielsnider opened #11 "Feature: Comments"
Be able to comment out a single line or block.

Examples
[code]

For me this would be useful for noting down extra details that come up during collabourative brainstorming sessions.

A future idea would be to optionally render the comment text in the SVG nearby the child node.

PS: Great tool!

[2021-03-02 04:42] #3 closed

[2021-03-02 04:47] rob-gordon commented on #4
I opted for exporting SVG's so that people can style their flowcharts after export. For the time being I'm going to keep all design/styled related functionality out of the app because I feel it can add lots of complexity, and it's very difficult to do in a way that works for everyone. Thank you for the suggestion!

[2021-03-02 04:47] #4 closed

[2021-03-02 06:30] #6 closed

[2021-03-02 07:06] ahmedahmedov commented on #6
Glad that it helped :) Good luck!

[2021-03-02 15:43] vassudanagunta opened #16 "possible to factor out a reusable npm library, not dependent on React?"
There would be a lot more users if such a library were available!

[2021-03-02 15:46] rob-gordon commented on #16
Good timing! I just opened a PR to lay the groundwork for that.
https://github.com/tone-row/flowchart-fun/pull/17

I'll leave this issue open until it's actually working.

[2021-03-02 19:22] jjkinsey opened #18 "Bug?: Downloading SVG reflows the graph"
Repro: Create a simple graph, drag a node to a new position, and download the SVG. The node will return to its original position.
Expected: No change to the graph from downloading the SVG.

My "workflow" (if you can really call it that) with this app so far has been
  1. write out the graph description -> 2. drag boxes around so that everything looks nice -> 3. download an SVG.

It makes sense to

[2021-03-02 20:35] rob-gordon commented on #18
@jjkinsey Could you confirm that the deploy preview from #19 fixes your problem?

https://deploy-preview-19--agitated-knuth-acd401.netlify.app/

[2021-03-02 20:38] jjkinsey commented on #18
Yep, looks good.

[2021-03-02 20:49] #18 closed

[2021-03-03 00:31] MADanson opened #20 "Bug: After Downloading SVG, social buttons and 'Download SVG' buttons disappear"
After downloading SVG social and 'Download SVG' buttons disappear until reload of page or resizing of window.

Reproduced on Chrome and Edge.

Cheers!

[2021-03-03 03:08] rob-gordon commented on #20
@MADanson Which OS/browser are you using?

[2021-03-03 09:58] MADanson commented on #20
- Windows 10 all up to date
- Chrome
- Also tested on Edge

[2021-03-03 10:34] josephernest opened #21 "Many nodes going to a single box"
Hi, congrats for your tool!

In order to do something like "many nodes  go to 1 node":

![image](https://user-images.githubusercontent.com/6168083/109792948-590ac400-7c14-11eb-8ee5-c8cc868331c9.png)

is there a better way than doing:

    A
      container
    B
      (2)
    C
      (2)
    D
      (2)
    E
      (2)

to avoid the repetition of newlines with `(2)`?

[2021-03-03 12:05] GreenHatHG opened #22 "Self-building"
Can I build it by myself
Can you provide tutorials or Dockerfile?

[2021-03-03 14:39] rob-gordon commented on #22
@GreenHatHG You can absolutely build locally. I've added the basic steps to the README [here](https://github.com/tone-row/flowchart-fun#how-to-run-locally). I also added a link  to the create-react-app README, which has more comprehensive instructions.

If you specifically need a dockerized version there are a lot of resources for dockerizing a create-react-app, for instance https://mherman.org/bl

[2021-03-03 14:39] #22 closed

[2021-03-03 17:02] rob-gordon commented on #20
@MADanson I fixed an issue with resizing this morning (#25) that I believe is related. However, I do see that on Windows, the download bar covers part of the vertical space of the screen.

![Screen Shot 2021-03-03 at 11 55 38 AM](https://user-images.githubusercontent.com/159949/109842434-15b25480-7c18-11eb-85a7-7ec236359a9a.png)

Let me know if this resolves (at least partially) your issue.

If no

[2021-03-03 17:08] rob-gordon commented on #21
An alternative (though not more concise) is using an [id]. I just wanted to mention that because then if your lines shift you won't need to rewrite the line numbers.
[code]

There is not, at present, any shorter way to write. I guess the syntax really favors more children over more parents (tree shapes) 😅

I don't want to add anything to the syntax without gathering more feedback so I'm going turn

[2021-03-03 17:08] #21 closed

[2021-03-03 17:15] rob-gordon commented on #11
@danielsnider Thanks for making this issue! I bet a lot of people would find the ability to make comments helpful.  I'm migrating all issues related to syntax-changes over to discussions so people can share their thoughts.

(For other people) Please 👍  the original post if you're also looking for this feature. It will help me prioritize! 🙏

[2021-03-03 17:15] #11 closed

[2021-03-03 17:39] MADanson commented on #20
Resolved! Thanks for your help!

[2021-03-03 17:39] #20 closed

[2021-03-03 18:01] #8 closed

[2021-03-03 18:14] rob-gordon commented on #9
That's an interesting idea. Someone on hacker news mentioned that these are not actually flowcharts but rather directed graphs. This would help push things in the flowchart direction for sure.

 I'm migrating all issues related to updating/growing the syntax over to Github Discussions so I can gather feedback and gauge support.

Thanks for your suggestion!

[2021-03-03 18:14] #9 closed

[2021-03-03 19:12] james-powis opened #30 "Allow for multiple lines from the same source / destination"
Currently the lines are drawing over the top of each other:

Ideally these lines should be gapped or curved (such as when you have opposite source and destinations.)

<img width="1251" alt="Screen Shot 2021-03-03 at 12 11 39 PM" src="https://user-images.githubusercontent.com/2318207/109858928-a473a100-7c19-11eb-9dac-e536ba9c3ab4.png">

[2021-03-03 19:14] james-powis opened #31 "Do not render blank lines(shapes)"
Blank lines should be ignored, or toggle-able to suppress.

 In general blank lines help create organization which helps the user, having extra objects created because of a blank line in the left hand text area is not very user friendly.

 Additionally comments should be ignored?

<img width="1089" alt="Screen Shot 2021-03-03 at 12 14 19 PM" src="https://user-images.githubusercontent.com/2318207/1

[2021-03-03 19:22] rob-gordon commented on #31
Totally agree! I'll try to get a PR in for this later today.

[2021-03-03 19:51] #31 closed

[2021-03-03 19:56] james-powis commented on #16
I would also like to add ability/documentation for shapes and connections output in a easy to utilize data object.

Something along the lines of (yaml for ease):

[code]

[code]

[2021-03-03 20:02] james-powis opened #34 "Object pinning"
Scenario: Assume you draw out a large arbitrary number of boxes and connections. After initial keyboard bashing you clean up the automatically rendered output by dragging them into a better layout which makes more sense to you as a user than the computer. Except after 2 hours of work you realize you need to add one last shape and connection. Doing so causes the push strength to recalculate and all

[2021-03-04 05:47] tangwanchao opened #36 "Input Chinese without line break"
<img width="1774" alt="截屏2021-03-0413 46 46" src="https://user-images.githubusercontent.com/34504415/109917324-13232e00-7cf0-11eb-8296-3540e27adbcb.png">

[2021-03-04 08:27] andersennl opened #37 "Support for multiple charts with headings"
It would be useful to be able to render multiple charts, separated by blank lines, each with its own heading.

Example:
[code]

[2021-03-04 11:20] bartTC opened #39 "Nodes are not correctly split after a multiline comment"
This text:

[code]

Will result in this graph:

![download](https://user-images.githubusercontent.com/1896/109956476-fbde4380-7ce3-11eb-891c-e57dd2bb7452.png)

[2021-03-04 13:39] rob-gordon commented on #39
Thanks for finding this. Going to work on a fix right now.

[2021-03-04 13:52] #39 closed

[2021-03-04 14:21] rob-gordon commented on #30
![Screen Shot 2021-03-04 at 9 20 44 AM](https://user-images.githubusercontent.com/159949/109977570-f1fc1680-7cca-11eb-8d7a-36cd1680c1f1.png)

[2021-03-04 14:21] #30 closed

[2021-03-04 14:33] hryb-michal opened #42 "Support inserting a box in the middle of existing flowchart"
Currently if I wanted to insert a box in the middle, I would have to tediously insert a space in all subsequent rows. I believe it could be solved by allowing multiline selection or creating a functionality which would traverse all derived boxes and insert it automatically.
![image](https://user-images.githubusercontent.com/45271398/109979234-f6dabd80-7cfe-11eb-966d-9d60be3f8e50.png)

[2021-03-04 14:38] hryb-michal opened #43 "Provide a way to find the line related to a particular box"
With greater amount of boxes in a chart, it gets harder to navigate through existing instructions and find the desired one. Displaying line ID somewhere in a box (maybe greyed text in a corner), or highlighting the proper line when a box is selected would be really useful.

[2021-03-04 14:46] rob-gordon commented on #43
That's a really cool idea! I will take a crack at this later today.

Thank you for the suggestion

[2021-03-04 14:48] rob-gordon commented on #42
Would this be solved if you had more code-editor-like functionality? (Like indenting multiple selected line, etc.)?

[2021-03-04 14:59] hryb-michal commented on #42
It would make it easier, but also if I had a big chart and wanted to insert something at the very beginning, an option to automatically select all derived lines appears to be crucial - having to manually select almost all lines would be a nightmare

[2021-03-04 15:03] rob-gordon commented on #34
I agree, persisting user-augmented layouts could be hugely beneficial, and the notion of pinning could work well.

I need to do some tests to make sure it doesn't negatively impact the [layout engine](https://github.com/cytoscape/cytoscape.js-dagre). In other words, if we pin certain boxes, can we still reflow the layout intelligently around those pinned boxes.

My other concern is that, although

[2021-03-04 15:13] rob-gordon commented on #36
I want to understand this problem better.
Would you like the boxes to expand to keep longer lines inside the boxes?
<img width="144" alt="Screen Shot 2021-03-04 at 10 13 05 AM" src="https://user-images.githubusercontent.com/159949/109984896-36d77b80-7cd2-11eb-9369-70c1617ffd3d.png">

Or prevent lines from breaking when there is a space?
<img width="119" alt="Screen Shot 2021-03-04 at 10 13 30 AM"

[2021-03-04 15:25] hryb-michal opened #46 "Automatically adjust indents on a new line to match the previous one"
When creating/editing a chart, most of the time is spent on creating new paths that derive from the last box created, or branching the previous one. To make that easier, after hitting "enter" the newly created line should automatically insert matching indents, sort of in the same way that [WorkFlowy does ](https://youtu.be/qPMVtkNrquU?t=30). Then the text could be inserted almost immediately, with

[2021-03-04 15:41] #46 closed

[2021-03-04 16:20] sdegutis opened #48 "Add resizer"
I'd like to resize the divider in the middle.

[2021-03-04 17:50] rob-gordon commented on #10
I'm going to close this with a reference to the discussion about migrating to a browser-based code editor
https://github.com/tone-row/flowchart-fun/discussions/45

[2021-03-04 17:50] #10 closed

[2021-03-04 18:54] rob-gordon commented on #42
Closing all issues related to browser-based code-editor. If you have any other thoughts please add them to the discussion https://github.com/tone-row/flowchart-fun/discussions/45

[2021-03-04 18:54] #42 closed

[2021-03-04 19:03] rob-gordon commented on #43
Merging a PR with a quick and dirty approach to this. I didn't want to put too much logic into it since it seems like we'll probably move from a textarea to a browser-based code editor soon. Thanks for the suggestion!

[2021-03-04 19:03] #43 closed

[2021-03-04 19:09] #37 closed

[2021-03-05 00:36] akinlong commented on #36
Keeping all the lines inside the box will be a good option.

[2021-03-05 03:16] tangwanchao commented on #36
Keeping all the lines inside the box

[2021-03-05 13:17] rubjo opened #56 "Different shapes"
Very, very cool, thanks for making this!

Part of the appeal is its simplicity, of course, but: any plans to extend with a handful of different typical shapes (eg. oval, parallelogram, diamond)?

[2021-03-05 14:21] rob-gordon commented on #56
Hey, I responded to this over in this discussion https://github.com/tone-row/flowchart-fun/discussions/29

I'm trying to keep things which will impact syntax/features over in discussions so I can gather as much input as possible. Thanks for your feedback!

[2021-03-05 14:21] #56 closed

[2021-03-05 17:28] VictorioBerra opened #57 "Saving/exporting/importing/tabs/bookmarks?"
Some features that would be super useful:

- entire chart save in query string for easy bookmarking?
- allow exporting chart data for savings or later importing (json/csv/whatever)?
- Save chart data somewhere like localstorage and add tabs at the top to work on multiple charts at once?

[2021-03-05 21:17] rob-gordon commented on #57
This is the solution I've had my eye on for a while. Just haven't had time to implement. The others are cool ideas as well.

Thanks for the feedback!

[2021-03-06 13:03] JasonkayZK commented on #36
Use specific space between chinese word can create a new line, like this:

![flowchart_demo](https://user-images.githubusercontent.com/40811521/110207553-3223ea80-7ebf-11eb-8b54-990b7a3684a0.png)

The chinese version instruction "source code" is below:

[code]

[2021-03-06 13:39] rob-gordon commented on #57
@dionsaputra Going to keep this Issue open because there is another feature I want to remember to add 👍

[2021-03-06 18:25] dionsaputra commented on #57
@rob-gordon thankyou for merged my previous PR. I was realized that it does not necessary to save complex json from cytoscape to generate the graph back. The syntax in text-editor is sufficient to do it, I have open another PR (#61) to export & import using the text in editor

[2021-03-07 14:33] hryb-michal opened #65 "App breaks with a single-space indent"
I guess something went wrong with storing the chart after

[2021-03-07 14:33] #65 closed

[2021-03-07 14:41] hryb-michal opened #66 "Graph disappears after inserting a space before code line"
To recreate:
- open new instance of app
- Add a single space on line 7, just before "lines have (...)"
- Refresh page (Ctrl+R)
Chart vanishes.

I think storing chart state between separate sessions might be troublesome, but that's a topic for another discussion.

[2021-03-07 14:54] rob-gordon commented on #66
There aren't many things that make the chart unable to render, but one of them is if you indent on the line below a "pointer" line (a line that uses `(pointer)`). Because you can't add a child to something that isn't a node in the first place.

I've probably made it as far as I can without adding any kind of validation feedback to users 😓

Thanks for flagging this!

[2021-03-07 15:09] hryb-michal commented on #66
Perhaps it would make sense (if possible) to prevent user in general from entering more indents than the previous node has? I can't think of any use-case it could have impact on

[2021-03-07 15:35] #36 closed

[2021-03-07 18:42] rob-gordon commented on #48
I just wanted to mention that for now this feature isn't stateful (won't remember your preferred column size between refreshes) but I'm going to add a tiny bit of app state in the future and I will store this value as well.

[2021-03-07 18:48] #48 closed

[2021-03-07 23:27] hryb-michal opened #70 "Artifacts after leaving the app open for long period"
Is there a possibility that something on the app side is infinitely accumulating storage?
After leaving the tab with the app open for a while, I was surprised to see lots of artifacts on the graph.
Refreshing the page didn't work, copy-pasting code from the clear version didn't work either, I had to restart the browser, and it had finally helped.

![flowchart](https://user-images.githubusercontent

[2021-03-08 08:59] steveyang331 opened #71 "Can the link ID to be unchanged or auto "+1"?"
Everytime insert a new line, the Link ID will be changed, and then the link id is wrong . we have to modify the all Link ID.

Is it possible there's a unchanged link ID or auto "+1", after insert a new line ?

Thank you .

[2021-03-08 14:58] rob-gordon commented on #71
You can use a fixed id to avoid this. See #6

'''
Hello
  (myline)
[myline] World
'''

That way adding/removing lines won't require you to adjust your pointer lines.

Hope that helps!

[2021-03-08 19:35] rob-gordon commented on #71
I'm going to close this for now but if you think this feature is necessary please open up a github discussion for this feature so I can gauge community support. Thank you!

[2021-03-08 19:35] #71 closed

[2021-03-09 01:13] alarsama opened #72 "Hyperlinks not displaying beyond "https:" and increase border auto-resize max limits"
I love how simple this is and how this works. I would like to request the following fixes:

- URLs do not show as hyperlinks: ![Screen Shot 2021-03-08 at 5 03 28 PM](https://user-images.githubusercontent.com/10385431/110402958-25270880-8031-11eb-8a8b-93b6602f5955.png)

- Text height goes beyond border height - expand auto-resize max limit?: ![Screen Shot 2021-03-08 at 5 04 40 PM](https://user-imag

[2021-03-09 02:16] rob-gordon commented on #72
Good find about the url's. I tried to add box auto-resizing over the weekend but obviously it still needs some work.

Thanks for opening this issue. I'll try to get a fix in tomorrow!

[2021-03-09 05:10] sdegutis opened #73 "Dark mode"
Github, StackOverflow, and Google all have dark mode now. Can your app have it too? At the very least, `@media (prefers-color-scheme: dark) { ... }`, if not any toggles or anything?

[2021-03-09 05:11] sdegutis commented on #73
One solution I found effective is to use CSS variables. At :root (or html), set a bunch of color vars that you use everywhere, and then redefine them inside another :root (or html) that's inside the media query. Then you just have two definition lists of colors, and that's it, and everything automatically just works.

[2021-03-09 05:45] jameskong9999 opened #74 "Incremental update?"
Is it possible to incremental update the node and the connection from the text without refresh the entire graph?

[2021-03-09 09:10] steveyang331 opened #75 "[Show case & suggestion]"
Show case , built Wu xing relationship graph.

![image](https://user-images.githubusercontent.com/16850883/110446316-fde83e00-80f9-11eb-9c6e-d9cd5ef3e95a.png)

![image](https://user-images.githubusercontent.com/16850883/110449863-96cc8880-80fd-11eb-8473-2239f6b5965a.png)

**Suggestion:**

Why we need type twice the same words, such as,  [Wood]Wood ??

Is it possible only type 1 time words, like ba

[2021-03-09 10:05] steveyang331 opened #76 "How to add edge lable with default edge ?"
![image](https://user-images.githubusercontent.com/16850883/110454124-d7c69c00-8101-11eb-9c86-b4a40317b6e6.png)

If add " edge label" in new line, there're 2 arrows.

![image](https://user-images.githubusercontent.com/16850883/110454257-faf14b80-8101-11eb-80d1-b06dc2613925.png)

[2021-03-09 11:38] verumsolum commented on #76
Unless I am misunderstanding you, add the label to the same line where you define Fire as a child of Wood.

So for your example, it would be:

[code]

In the example you provided, the `Generating: (Fire)` line and the `[Fire]Fire` line are both at the same indent level, making them both children of `[Wood]Wood`, which is why it gives two arrows.

[2021-03-09 12:51] steveyang331 commented on #76
Still Thank you supply a solution. :)

[2021-03-09 14:18] rob-gordon commented on #76
Hovering over the edges is very helpful here in diagnosing why edges/nodes exist.

Check out this very simple example.

<img src="https://user-images.githubusercontent.com/159949/110482841-17b46180-80b7-11eb-9b5e-39540e2d6d25.png" width="500"/>
<img src="https://user-images.githubusercontent.com/159949/110482837-16833480-80b7-11eb-8f52-5108c760c2c7.png" width="500"/>

Indentation is a shortcut to

[2021-03-09 14:20] rob-gordon commented on #74
Do you mean prevent the graph from re-drawing itself when you type new nodes/edges in the text?

[2021-03-09 14:51] rob-gordon commented on #72
Because we allow inline javascript style comments `// like this`, you'll need to escape the `//` in url's, like `http:\/\/myurl.com`

The box sizing should grow horizontally and vertically now 👍

[2021-03-09 15:08] jameskong9999 commented on #74
Yes

[2021-03-09 16:11] rob-gordon commented on #73
We'll definitely add a dark mode in the near future. I'm currently trying to determine the best Design/UX for managing user preferences like this. I'm going to close this issue but if you could show your support for https://github.com/tone-row/flowchart-fun/discussions/32 with an upvote it will help me keep track of what features people are waiting on.

Cheers!

[2021-03-09 16:11] #73 closed

[2021-03-09 16:13] sdegutis commented on #73
Well a basic dark mode would help me use your website at night. But all sorts of setting screens and keyboard shortcuts aren't related to that, and are only going to delay that basic usefulness of not being blinded late at night.

[2021-03-09 16:33] rob-gordon commented on #74
Check out the conversation in https://github.com/tone-row/flowchart-fun/issues/34

I will continue thinking about the best way to do this, but it's somewhat of a tricky problem. If you have thoughts about how this should be done please contribute them to the issue above (or start a [discussion](https://github.com/tone-row/flowchart-fun/discussions) about it).

I'm going to close this issue as a du

[2021-03-09 16:33] #74 closed

[2021-03-09 17:42] alarsama commented on #72
Wow! This is great. Thanks for the prompt response and fixes!

- I can confirm with some brief tests that box resizing works great.
- URLS now show up after escaping the "//" characters. With URLs now showing up properly, would you be open to allowing URLs to be clickable hyperlinks?

[2021-03-10 03:26] steveyang331 commented on #75
I'm not sure if you're a developer of flowchart.fun.  But Yes. if we change the `[[name]]`, all related pointers ` :name `would be renamed ,too. the backlink is working like this.

[2021-03-10 06:53] steveyang331 commented on #76
Thank you so much !

[2021-03-10 06:53] #76 closed

[2021-03-10 19:01] rob-gordon commented on #57
@VictorioBerra wanted to mention you can now store separate charts at separate url's. See [this](https://twitter.com/row_tone/status/1369712546643664898) for an example.

I'm leaving this issue open because I plan on implementing the query string idea soon as well, although more for read-only sharing purposes.

[2021-03-10 19:34] VictorioBerra commented on #57
@rob-gordon  thanks! How do I save my URL?

[2021-03-10 19:51] rob-gordon commented on #57
I might add a small navigation to move between charts in the future but for now you'll need to bookmark it / remember it.

[2021-03-10 19:55] VictorioBerra commented on #57
Ohh, I meant when you hit the page, does it generate a moniker style url? https://www.npmjs.com/package/moniker

In the twitter gif, it wasn't clear how the URL is created.

[2021-03-10 20:02] rob-gordon commented on #57
Ah I see. Sorry it's not clear. You choose the url! (Just by typing it in)

[2021-03-10 20:04] zumdar opened #80 "way to change side of parent the child goes?"
is there a way to change where the child is created?

it always seems to create the child to the right of the parent. I've noticed you can drag the boxes around, but if you make a 'grandchild' from a child that was dragged to the left , the grandchild, and child automatically move to the right of the parent.

i think this is a such a great tool for easy flowcharting and maybe mindmapping too!!!

t

[2021-03-11 16:11] rob-gordon opened #81 "Add ability to pivot graph"
I do a lot of information architecture and taxonomy design work. 😇  Would it be relatively easy to create an option to pivot the tree to vertical orientation? Instant sitemap, instant card sorting test, instant tree testing... lots of potential appeal for UXers. Let me know your thoughts and so glad to stumble upon this via Twitter!

_Originally posted by @jeffreymacintyre in https://github.com/to

[2021-03-11 16:21] rob-gordon commented on #80
No, this is a totally fair question. Right now we use a layout algorithm that runs every time the user adds new nodes. Unfortunately, I haven't thought of a good way to determine when people want the layout to reflow, and when they want it to stay fixed.

[On this issue](https://github.com/tone-row/flowchart-fun/issues/34#issuecomment-790682084), someone suggested the idea of "pinning" certain nod

[2021-03-11 16:21] #80 closed

[2021-03-11 16:23] rob-gordon commented on #80
(Also the lights you make are awesome!)

[2021-03-11 21:14] zumdar commented on #80
wow thank you for responding ! (and the kind words😊) I am new to the collaborative coding world (and really coding in general) and am not sure how to go about asking things like this! It makes me want to get better at coding so i can help contribute to awesome projects like yours.

[2021-03-12 20:08] rob-gordon commented on #57
@VictorioBerra Added a small `Share` button as well which opens a link to a read-only version of the chart, stored in the url, like you mentioned.

I'm going to go ahead and close this issue. Thank you for all the suggestions!

[2021-03-12 20:08] #57 closed

[2021-03-15 02:23] rob-gordon opened #85 "Can't share with a `?`"
Having a question mark in the text breaks the sharing feature

[code]

[2021-03-15 02:56] rob-gordon commented on #70
Always a possibility!

@hryb-michal What os/browser are you using? I left the app open in chrome for an entire day on OS X and didn't see any artifacts. Let me know where you saw this and I can try debugging it. Thanks!

[2021-03-15 02:57] #85 closed

[2021-03-15 03:33] rob-gordon commented on #75
@steveyang331 Thanks for opening this issue!

After giving it some thought, I decided to add a bit of logic to the text parser. Now, before returning the set of nodes and edges, it checks whether any edges have targets that don't resolve. For instance, in:

[code]

the edge has an undefined target `c`.

If the parser finds edges with an undefined target, it checks to see if the target matches any

[2021-03-15 03:33] #75 closed

[2021-03-15 03:36] rob-gordon commented on #16
Going to close this now that we have https://www.npmjs.com/package/flowchart-fun up and running.

@james-powis I will keep this suggestion in mind 👍 Feel free to add to the custom shapes discussion [here.](https://github.com/tone-row/flowchart-fun/discussions/29)

[2021-03-15 03:36] #16 closed

[2021-03-15 03:43] rob-gordon commented on #1
@jordanstudioroot Going to close this for now because I added the ability to [persist multiple pads at any url path](https://twitter.com/row_tone/status/1369712546643664898) last week.

Hopefully that covers the case of working on multiple charts at once. Feel free to start a [discussion](https://github.com/tone-row/flowchart-fun/discussions) if you think that removing localStorage-persistence is

[2021-03-15 03:43] #1 closed

[2021-03-15 04:02] steveyang331 commented on #75
Appreciate you accept my suggestion ! Really great work.

[2021-03-15 04:22] ghost opened #89 "Text and graph updating"
0. Default text:

[code]

1.
![pAeskknxEv](https://user-images.githubusercontent.com/16850883/111102701-ac233600-8587-11eb-9d52-96a951337451.gif)

Change text` a `to `c` ,
Check the` edge: (a)` and graph text .

Result: the ` edge: (a)`  didn't change to ` edge: (c)` , but the graph is changed to `c` (correct) .

I'm not sure that ` edge: (a)` whether should be updating after  the ` a `  change to

[2021-03-18 07:31] andersmandersen opened #91 "Unable to run source code"
Have been using flowchart.fun for that last couple of weeks. But I'm missing a feature to export directly to JPG and PNG.

I wanted to create my own implementation and submit it as a PR, if it's in the interrest of the owner.

But I'm having issue with running the source code. I get errors on the external module "@tone-row/slang".
For example within app/src/App.tsx it can't find Box and Type withi

[2021-03-18 13:37] rob-gordon commented on #91
Hey, thank you for your interest! You can definitely submit a PR to export jpg/png.

I built this on an earlier version of `@tone-row/slang` (a work-in-progress design system utility) which had some components, like `Layout`, that no longer exist. I'll update it to use the latest version, and that should resolve the issues so that you can build successfully.

[2021-03-18 15:19] rob-gordon commented on #91
Just merged #92

Let me know if you're still unable to build it.

In terms of the jpg/png export functionality, I have plans to expand on the app layout in the next weeks so I think it would be best to make the smallest reasonable investment in UI for downloading. In the future I could see a dropdown menu to support this but for now I think something like this would be best.

![Screen Shot 2021-03

[2021-03-18 20:37] ethanroday opened #93 "Radial layouts"
First of all, what an awesome tool! Thank you for making this!

Second, would love the ability to toggle between various layouts. Specifically:
  - Radial (I like making mind maps and prefer to visualize them this way)
  - Horizontal hierarchical (current default)
  - Vertical hierarchical (sounds like this has already been requested in #81)

[2021-03-22 05:50] andersmandersen commented on #91
Thank you for taking your time! It's now working for me 👯

[2021-03-22 05:50] #91 closed

[2021-03-23 16:42] rob-gordon commented on #93
@ethanroday Sorry for the delayed response. This functionality is absolutely on the way. Basically my mental roadmap goes:

- add some tests so you don't break parsing logic
- add ability to parse [yaml frontmatter](https://assemble.io/docs/YAML-front-matter.html)
- add front matter option for different layouts
- add some UI for people to toggle between layouts (and persist it!)

I'll leave this i

[2021-03-23 21:49] ethanroday commented on #93
Looking forward to it!

[2021-03-24 17:32] heypano opened #97 "Add ability to define node background color"
I was thinking about adding an option to add a background color to a node by providing an rgb hex code with a # at the end of a line e.g. (pic below)
`    node label text #ffaaaa`

I was also thinking about adding automatic brightness detection for the background color so that if it's > 50% it shows black text and if it's < 50% it shows whites text.

How does that sound?
We could also accept color

[2021-03-24 20:12] matheuschimelli opened #98 "HTTP ERROR 414"
I tried to share a long flowchart I had created but it shows a `414 HTTP Error`. I know that probably this issue is related with the server instead of properly being a issue with flowchart-fun.

I though a way to solve this error would be:
1. To use the[ Lempel–Ziv–Markov chain algorithm](https://en.wikipedia.org/wiki/Lempel%E2%80%93Ziv%E2%80%93Markov_chain_algorithm) to encode the shareable URL

[2021-03-25 14:38] rob-gordon commented on #98
This is a great suggestion. I'll look into it!

Out of curiosity, do you know how long the url you tried to share was?

[2021-03-25 16:35] heypano commented on #98
@rob-gordon I am also seeing an https certificate issue, wonder if related

[code]

![image](https://user-images.githubusercontent.com/1577139/112508952-683de700-8d66-11eb-9e5b-053dcc259814.png)

[2021-03-25 16:38] rob-gordon commented on #98
@heypano Thanks for bringing this to my attention. Looks like [netlify is having CDN issues](https://www.netlifystatus.com/) right now.

[2021-03-25 17:56] matheuschimelli commented on #98
Yes. Here is the [link](https://flowchart.fun/r/Recupera%C3%A7%C3%A3o%20Judicial%0A%20%20Indeferimento%20do%20processamento%0A%20%20Deferimento%20do%20Processamento%0A%20%20%20%20Publica%C3%A7%C3%A3o%20Edital%20(Art.%2052%C2%A71%C2%B0)%0A%20%20%20%20%20%20Plano%20de%20Recupera%C3%A7%C3%A3o%20(60%20dias)%0A%20%20%20%20%20%20%3A%20(artigo7)%20%0A%20%20%20%20%20%0A%5Bartigo7%5D%20Artigo%207%C2%B0%20a

[2021-03-25 19:05] rob-gordon commented on #98
@matheuschimelli Just merged an update. We're now using [lz-string](https://github.com/pieroxy/lz-string).

I'm not sure if this solution will be good enough in the long-term. For instance, your flowchart compressed is still ~3000 characters, which according to this [SO answer](https://stackoverflow.com/a/417184/903980) would still be too large in Edge or Internet Explorer.

But either way, this i

[2021-03-25 19:05] #98 closed

[2021-03-25 19:34] rob-gordon commented on #97
I think this is a cool idea. I hadn't even considered that people might want nodes to be different colors! 😅

Lots of people have requested different features related to visual qualities of the graph: for instance different layout algorithms, line styles, node shapes, and arrow shapes.

When I look at the alternatives to flowchart.fun like mermaid or code2flow the biggest difference is that their

[2021-03-25 22:40] heypano commented on #97
The yaml style formatting would be cool, but it is unfortunate that it moves away from easy to understand syntax / quick graphs -- supporting both would be great though!

I definitely understand that there needs to be a system for introducing new features without bloating the complexity of the code and syntax.

Specifically regarding the concern around the order of arguments I think that can be so

[2021-03-25 22:53] Schizo commented on #73
I wish this setting would work when saving to PNG too, wanted to use it on a slide with a dark background

[2021-03-29 14:30] rob-gordon commented on #97
Even if the order of arguments becomes variable, this still requires users to learn one symbol per piece of line-level functionality.

| symbol|feature |
| ------------- |-------------|
|`#`|color|
|`##`|named color|
|`@`|shape|
|`%`|foreground color|

I'm hesitant for a few reasons.
- The associations are mostly arbitrary so they might be difficult to remember.
- If each line has a lot of metadat

[2021-03-30 16:25] breck7 opened #102 "Suggestion: eliminate all sandwich delimiters"
Despite the fact that >99% of programming languages use "sandwich delimiters" like quotes, brackets, parens, et cetera, I figured out they are never necessary, and it's pretty fun to get rid of them entirely:

Here are some examples: https://jtree.treenotation.org/designer/

For flowchart-fun, I suggest:

[1] Drop /* */ and replace with a "comment" block.

[code]

Becomes:

[code]

For the 0.0001%

[2021-04-01 09:58] mengwong commented on #97
GraphViz's [dot syntax for labels](https://graphviz.org/doc/info/lang.html) might be a good compromise:

    mynode [fillcolor=#aaff00]

Full attribute documentation: https://graphviz.org/doc/info/attrs.html

[2021-04-01 17:06] rob-gordon commented on #97
@mengwong Thanks for the suggestion! This could be a cool middle-ground. I read the documentation but I wanted to make sure I understand, are multiple attributes are passed like this?

[code]

[2021-04-02 11:30] trasherdk commented on #97
I'm having fun with this thing.

![image](https://user-images.githubusercontent.com/5003891/113410911-aed2b780-93de-11eb-9bac-d9d3dddf78d6.png)

I would love to see the box [label] as a header on the different boxes.
It makes more sense to me to do top-down than left-right. Probably because that's how we did it back in the day ;^)
Also, when manually moving the boxes into a logical position, store

[2021-04-02 18:59] rob-gordon commented on #102
Wow, that tree notation site is awesome! (albeit slightly over my head :)

This is an interesting idea, though I think some people would be unhappy if the flowcharts stored in their localStorage suddenly stopped working because the syntax had changed.

I'll leave this issue open in case other people agree and want to chime in.

Thanks for the suggestion!

[2021-04-05 01:12] breck7 opened #103 "Embed the program in a readable pretty deep link?"
Instead of:

[code]

Have you thought about just including the url encoded contensts?

[code]

A related lib: https://github.com/breck7/patch

[2021-04-05 18:32] rob-gordon commented on #103
Yep, that's how it worked before. We switched to compression because larger flowcharts were failing because of url length. Check out https://github.com/tone-row/flowchart-fun/issues/98

[2021-04-05 18:48] breck7 commented on #103
Interesting! Thanks for the context.

Have you thought about also adding support for client side only deep links? You can have thousands of characters in the "#" portion of the link no problem.

[2021-04-09 01:59] rob-gordon commented on #103
I'm not sure I know what that is 😅
Is it different than a normal url?

[2021-04-09 16:04] breck7 commented on #103
When you visit `server.com/index.html#foo`, the browser does not send the hash `#fee` in the get request. So "client side only deep links" are a nice secure way for users to save shareable programs that don't get sent over the wires.

[2021-04-09 16:13] mristin opened #106 "Multi-line labels"
Thank you a lot for this tool! It's super practical!

Is there a way to insert line breaks in the text? Say, if I have a long edge label which I'd like to split in two lines?

[2021-04-09 16:19] mristin commented on #97
I'm not the OP, but you are correct. You can have attributes both on nodes and on edges.

[2021-04-09 16:29] mristin commented on #34
Maybe it would make sense to import/export the pinning in a separate file? This way you would separate the graph definition (the text that the user sees and types) and the properties of the nodes and edges. An explicit import/export would help with refreshes as well.

Perhaps this can also be the solution to #97? The user clicks on a node or an edge. A separate menu shows where you can change colo

[2021-04-09 18:32] rob-gordon commented on #106
@mristin At the moment that isn't possible on the production site, but I appreciate you opening this issue because it's definitely something we should support.

[Here's a deploy preview](https://deploy-preview-107--agitated-knuth-acd401.netlify.app/) that you can use temporarily which runs `decodeURIComponent` on each line, so you can use `%0A` to add new lines in edge/node labels. [Here's an exam

[2021-04-09 20:23] mristin commented on #106
@rob-gordon thanks! I'll wait for the live branch, there's no hurry from my side.

[2021-04-13 02:59] rob-gordon commented on #93
Took a few weeks but everything just merged 👍

Here's an example: https://flowchart.fun/c/H4hQBsEME8HsFcAuAuUACNA7SBbApsmgMYCWATkeHqCMKHgG55nSIAWJmA5umiQM68MnIRjSRRY4uUrUp8tAApGzVh24BKIA

[2021-04-13 02:59] #93 closed

[2021-04-13 03:15] rob-gordon commented on #73
@sdegutis Proper dark mode has been merged 👍

@Schizo I made sure dark mode settings were exported as well to give people more options about what they export 👍

[2021-04-13 03:20] rob-gordon commented on #106
This is merged into production now 👍

In the future I may give people a small built-in interface to encode what they type, but for now you'll need to encode your multi-line text using on an online applet [like this one](https://www.onlinewebtoolkit.com/url-encode-decode) or by using `encodeURIComponent` in your browser's javascript console.

Cheers!

[2021-04-13 03:20] #106 closed

[2021-04-13 04:50] ethanroday commented on #93
@rob-gordon Circle layout looks great, but I think I may have underspecified my request. I was hoping for more of a mind-map layout, with a single node in the middle and all of the others branching out around it. Something like [this](https://simplemind.eu/wp-content/uploads/2017/01/birthday-2-associatons-Copy.png) (not the best representation but gets the idea across).

[2021-04-13 06:39] mristin commented on #106
Maybe this is somehow related to the feature you'd implement for #34?

For example, when you click on a node, you can use a rich-text editor, have multi-lines, insert images *etc.* Then the text would be appear as-is on the left. When you want to edit the line, the rich text editor pops up. Personally, I'd imagine this to be a great feature -- start simple, but allow for further refinements where

[2021-04-13 06:40] mristin commented on #106
And thanks again for this feature!

[2021-04-13 13:35] rob-gordon commented on #106
Yep, I was imaging something very similar. Thanks!

[2021-04-13 13:41] rob-gordon commented on #93
I see. There are a few other new layouts available that may get you closer to a mind map. If you click on the Settings Tab you can see the `Layout` select. Off the top of my head I was guess that CoSE (Compound spring embedding) will probably get results closest to a mind map. [An example.](https://flowchart.fun/c/H4hQBsEME8HsFcAuAuUACNA7SBbApsmgMawDOeoIwoeAbngE7SIAWAlpgObppuk8YOAjGkjCRxNgyLgKE+Wg

[2021-04-13 14:31] ethanroday commented on #93
Ahh didn't realize that there were other new layouts available! `cose` works well, as does `concentric`. Thank you!

[2021-04-13 14:45] rob-gordon commented on #81
@jeffreymacintyre Just wanted to mention this has merged 👍

Cheers!

https://user-images.githubusercontent.com/159949/114572183-463cd380-9c45-11eb-9403-807149439006.mov

[2021-04-13 14:45] #81 closed

[2021-04-13 15:25] rob-gordon commented on #103
Switching to the hash seems like a win-win in terms of privacy and not hitting server limits for url lengths. I'm able to share [a chart with 2000 lines](https://deploy-preview-112--agitated-knuth-acd401.netlify.app/c#H4hQBsEME8HsFcAuAuUACNA7SBbApsmgE6SYAmsO6xpA1gCICWRhAMgEqgjCgAqAFowDOaSAAcxaAO6witEQCNoaRNDGNMAc2oBJcnkyINmtAGMieSIjwjIacBtorYK-njPwiFw-Y15qpMrWAB4oaAp4AGay7namsOCwmGYWVjai9pAR4NQAwq

[2021-04-13 15:25] #103 closed

[2021-04-13 15:30] breck7 commented on #103
Share successful 🚀🚀🚀

<img width="650" alt="Screen Shot 2021-04-13 at 5 29 19 AM" src="https://user-images.githubusercontent.com/74692/114579133-44f5b180-9c19-11eb-81f5-1c5593cec82b.png">

[2021-04-13 15:32] rob-gordon commented on #72
@alarsama I wanted to mention that there has been a small change in how lines are parsed such that escaping url's will no longer work. Now, you'll need to [uri-encode](https://meyerweb.com/eric/tools/dencoder/) them.

I made this switch so that I could support not only url's but other things like new lines, tabs, etc.

The longer term plan, which will inevitably fix your comment-

is to then run t

[2021-04-13 15:36] rob-gordon opened #113 "Hovered line number incorrect if frontmatter present"
The wrong line number is highlighted if frontmatter is present in doc

[2021-04-13 15:55] #113 closed

[2021-04-16 02:17] alarsama commented on #72
Hello Rob,

Wow! Thanks for the follow-up! Very cool.

Best Regards,
Alan

[2021-05-12 02:43] physics515 opened #124 "Add a "Reset" / "Clear Chart" button"
It would be helpful to have a reset button that would reset the chart to the default "fresh" chart with the syntax examples. The first thing I did was remove some of the examples while playing around before realizing that I couldn't find out how to do more stuff without finding the github page.

[2021-05-12 12:52] beejei opened #125 "Adding an order of next branch"
Hi,

I'm really a big fan of this neat and fancy tool.

What would be great for me is, having a order on next branch.
Let say I have entered data below with dagre layout:

`
first
  1. Second 1
  2. Second 2
  3. Second 3
`

Expected:
I'd like to see the Seconds in order of its number
e.g.)
first
  1. Second 1
  2. Second 2
  3. Second 3

Actual behavior:
Actually the order is random, I cannot con

[2021-05-12 18:06] rob-gordon commented on #124
I didn't want to run the risk of erasing peoples charts, so I opted to just re-add the help syntax for people trying to recover.

I fear this button may be hard to find though. If you have suggestions for making it more clear, let me know!

https://user-images.githubusercontent.com/159949/118023106-2293a880-b32b-11eb-9008-cc1fc8b996bf.mov

[2021-05-12 18:06] #102 closed

[2021-05-12 18:41] #70 closed

[2021-05-13 16:49] rob-gordon commented on #124
@physics515 Going to close this, but if you feel like there's another issue not being addressed by the help button feel free to open another issue.

[2021-05-13 16:49] #124 closed

[2021-05-18 03:25] rob-gordon opened #128 "Easy to break graph with numbers as node labels"
https://flowchart.fun/c#IwKABGwFxgFgpgG0Qe3GATOiGawJbYSR5KpHFgAUwAlEA

[2021-05-19 15:35] VictorioBerra opened #130 "Leaving root node blank breaks app"
![vG1Q8A0qD1](https://user-images.githubusercontent.com/2934507/118841346-de098f00-b88d-11eb-813c-1be049fe9225.gif)

1. Clear all text from root node
2. click around
3. Add text back, observe that the app is now broken

[2021-06-25 15:25] rob-gordon commented on #130
Thank you for opening this! Sorry for not replying sooner.

The app stops successfully rendering because even once you re-add text because there is a now invalid pointer on line 5
`(This app works by typing)`

I've opened up a pull-request so that the graph no longer updates when invalid (what happens first when write `This ABC`), and also gives the user the minimum amount of feedback in the form

[2021-06-25 15:25] rob-gordon commented on #89
Thank you for opening this issue! Sorry for not replying and the delay in figuring it out.

[2021-06-25 15:28] rob-gordon commented on #66
Going to close this as we now let the user know when the graph won't render because the text is invalid.

[2021-06-25 15:28] #89 closed

[2021-06-25 15:28] #66 closed

[2021-06-25 15:28] #130 closed

[2021-06-25 15:30] rob-gordon commented on #125
#144  helps ensure that nodes are ordered according to their line order.

Can you let me know if you are still having trouble with ordering?

[2021-06-25 15:31] rob-gordon commented on #125
(Also sorry for the delayed reply! And thank you for opening an issue!)

[2021-06-25 17:04] rob-gordon commented on #128
This is a better example

https://flowchart.fun/c#IwKABGAWCmA2sHtxgEzIpAluiU6J1zAApgBKIA

[2021-07-25 02:14] physics515 opened #149 "Define the minimum spacing between nodes"
First off, I love this project. I have been using it to plan another project I'm working on for the last couple weeks and it has proven to be far superior to nearly every other tool I have tried thus far. So take my few "gripes" with a small grain of salt, as they are much more akin to a wish list.

### The Question
Is there a way, or could we add a way, to define a minimum distance between nodes?

[2021-07-25 02:23] physics515 commented on #34
What if there was just a boolean value in the header to disable auto-regeneration of the layout.

for example:

[code]

When set to false any new nodes would be either placed relative to their parent node (ex. Right: 100px, Down: 100px) or in the center of the current view, if no parent exists. When set to true, it acts as it does currently.

[2021-07-25 04:27] physics515 opened #150 "Override CSS properties on a per node basis"
### The Problem
Myself and a few others seem to want more control of the look and style of the nodes. I understand that this could open a can of worms that can easily get out of hand, so I have put a little thought into it and I think I have come up with a fairly middle of the road solution.

### The Proposed Solution
I propose a syntax to configure the CSS properties for each node that would look

[2021-07-25 15:38] rob-gordon commented on #149
Hey! I'm glad the project is helpful for you. Thanks for taking the time to open up issues with feature ideas. I haven't been able to add features in a couple of months but I'm glad that there are still interested people using the app!

I saw in another issue you opened that you have some familiarity with cytoscape.js- everything under the layout key in your chart's frontmatter is actually passed

[2021-07-25 18:46] physics515 commented on #149
Awesome, I didn't realize that this was feature complete! This is extremely helpful. Thank you.

[2021-07-29 15:01] jacobsamlarose opened #151 "Text visibility in darkmode"

[2021-07-29 15:03] #151 closed

[2021-08-03 17:28] #125 closed

[2021-08-03 17:36] rob-gordon commented on #150
This is an interesting syntax. https://github.com/tone-row/flowchart-fun/issues/97 has a similar goal; however, no one suggested a syntax similar to this. It's nice to have another option to consider.

I'm ramping up on this project again so I can say that this feature is definitely in the works. I'll leave this issue open until there is a working solution 👍🏻

[2021-08-04 03:49] physics515 commented on #150
I tried to best match the header (YAML... I think) syntax and just apply it to an individual node. In an effort to make it feel cohesive. I think this syntax has plenty of room to be expanded beyond style, should the need for addition features arise in the future.

[2021-08-04 04:03] physics515 commented on #149
I was able to play around with the `spacingFactor` option and a few others from the documentation. `spacingFactor` seemd to only add padding to the canvas and not between the nodes themselves. On top of that, it seems that most algorithms seem to implement options differently, if at all.

I would still love to have this feature to prevent nodes from overlapping but I have no idea how you would pul

[2021-08-04 17:53] rob-gordon commented on #97
After being a little inspired by the simplicity of allowing all [layout options](https://github.com/tone-row/flowchart-fun/issues/149#issuecomment-886219209) to be passed through to cytoscape, I realized the same approach probably makes the most sense for styling as well. I merged a PR yesterday (#153) which allows for that.

I know it may not be the syntax we arrived at in this issue, but I think

[2021-08-04 17:56] rob-gordon commented on #150
Ooh yeah, that's a use-case I've never even considered. I have no idea if that's supported in cytoscape off the top of my head. 🤔

Re:styling have a look at [this comment](https://github.com/tone-row/flowchart-fun/issues/97#issuecomment-892854408). It's supported now 🎉  I opted for a different syntax, inspired by our convo in the spacing issue you opened.

[2021-08-05 04:52] physics515 commented on #150
Awesome! Thank you. I think having all of it in the header with selectors has the benefit of allowing the document to be cleaner and easier to read for newer users, but can make it more difficult to tell what is being styled, especially in big documents where scrolling is involved. I think there is a trad-off to be made in this case and I'll leave that up to you.

I haven't gotten a chance to play

[2021-08-05 15:42] rob-gordon commented on #150
At the moment styles don't cascade to child nodes though I can think of some potential solutions to achieve this. However you can reference multiple elements in the selector and select on other attributes, which could be useful depending on what you're working on.

https://flowchart.fun/c#H4hQGcBcE8BsFMBcoAEKC0LzwQY0gPYBOiKARAMQCGANBQEZ250AmZqaWMCynn9VXAGsA5kQIBXAHYt0uArGKliVKSPgdM2PIRLkA2rCr0cAKg

[2021-08-06 19:37] danielsnider opened #154 "Ascii output format"
Hello again 😊

I made [a chart](https://flowchart.fun/nsys-to-df) to help document how some software works. I just wish I could generate ascii of the flow chart so that I can paste the chart within the code. Probably a tall order, eh?

Great project,
Thanks!

[2021-08-09 16:09] rob-gordon commented on #154
Hey @danielsnider ! I don't have access to your chart via the link you provided. Could you click `Share` and copy and paste the long share url.

Just to clarify, you want to be able to export your graph as all ASCII text. Something like this?
[code]

[2021-08-09 16:12] danielsnider commented on #154
Yes, that is a really nice example of output as ascii text! Exactly what I am thinking of.
My graph is not that interesting but here it the [working URL](https://flowchart.fun/c#H4hQBsEME8HsFcAuAuUACNA7SBbApsmgCaQDmATnumuZJgNYAiAluYQDIBKoIwomAZ2gCABQAoBiPAAcAvAEYAlKBEiBAR3DMpK1SKIAzXXvEBjWDgBGzTHiL6DywcPGSZsgEzK1m7VVWGxmYW1rb2hk5CohJScpjeGlo6AUYmYuZWNnYOyhmh2YEpAPqIsEXS4LCIoEA).

[2021-08-09 16:44] rob-gordon opened #155 "Syntax Highlighting Issue"
The info in parens in this example should not be highlighted because there is already a node on this line. https://flowchart.fun/c#IYYxFMGdIAgBwE7gLYEsCuyYAp10sADbgyqwAuAFmQJQ7lTk0BQA9gHYkAmrhhwCGMBjIOVADQwQwdhEJD2AT3Kpk4IA

[2021-08-17 07:37] Harry-675 opened #156 "Fail to open the website!"

[2021-08-17 13:28] rob-gordon commented on #156
@Harry-675 Could you let me know if you're still having this problem? What do you see when trying to open the website?

[2021-08-19 21:29] #156 closed

[2021-08-25 13:26] beejei opened #157 "More than 2k people saw my tweet today"
I just want to say many people saw [my tweet](https://twitter.com/beejei/status/1430444206749745154) and reacted, tried flowchart.fun
I personally think this is the super great way to spread a genius idea as a tool over the world
Now I'll try to introduce by setting up an internal instance within our company and colleague to use it for organizing their ideas (especially process relevant things)

S

[2021-08-25 15:08] rob-gordon commented on #157
@beejei That's amazing! Thank you for sharing it and for your donation! If you have any trouble setting up an internal instance just let me know. Happy to help!

[2021-08-25 15:08] #157 closed

[2021-09-02 03:02] brightgreat opened #159 "请问访问端口在哪里修改呢?"
我这边3000端口被其他应用占用了，且不能更替，所以，flowchart-fun 需要更换一个端口，应该在哪里操作？

[2021-09-02 03:19] brightgreat commented on #159
yarn start port 3001 is great

[2021-09-02 03:19] #159 closed

[2021-09-29 23:03] rob-gordon commented on #149
@physics515 Going to go ahead and close this one. I know it's not a perfect solution but I think this is probably as close I can get for the time-being. Thanks for your interest and support! Please don't hesitate to open other issues / feature requests in the future.

[2021-09-29 23:03] #149 closed

[2021-10-01 18:49] beejei opened #170 "Idea: Presentation Mode"
Hi,

While I'm writing down some flows of my think to explain for newcomer, I thought that it would be very useful if we have a "Presentation Mode".

The idea is very simple. Rather than showing overview of entire flowchart with only zoom control, automatically zoom in and showing only current step + next available steps with clickable control. And maybe the clickable control is better to have on

[2021-10-01 19:02] beejei opened #171 "Idea: Layer abstraction"
Hi,

I used to use https://dynalist.io/(which is similar with https://workflowy.com/) for quick memo.
This tool supports instant indent and move(reorder) of each row so that easily reorganized thing written down.

One really cool part is, "Zooming in" into one topic. So if I write down many things with hierarchy and I need to write deeper look for just one topic out of it, Then I can zoom that lin

[2021-10-04 01:10] rob-gordon commented on #170
@beejei Thanks for the suggestion. It will take me some time to get to this point but I think this is a really good idea and I will try to integrate it into the roadmap of features! I will leave this issue open until I have more information. Thanks again!

[2021-10-04 17:22] beejei commented on #154
I could find some examples that provide a way to create ASCII diagram from scratch [here](https://xosh.org/text-to-diagram/), but exporting to that (specific) format is totally a new story.

[2021-10-05 21:06] rob-gordon commented on #170
You tweeted about https://sketch.systems! I find this tool incredible. It also gives me insight to how a presentation mode could work. It will involve parsing the flowchart into a state-chart which will take me more time but I really like the idea. Thank you!

[2021-10-06 02:38] rob-gordon opened #176 "Parsing Problem based on Order"
**Neither** of these examples parse correctly:

[code]
https://flowchart.fun/c#IIKABGBC4WDCM4C4wBEYQDYEMBGBTTFACjgEog

[code]
https://flowchart.fun/c#IIKABGBC4WDCMIBsCGAjApkgXGAFHAJQxy4AiQA

[2021-11-04 02:25] rob-gordon commented on #155
Fixed by #186

[2021-11-04 02:25] #155 closed

[2021-11-04 14:00] #176 closed

[2021-11-25 16:53] #128 closed

[2021-12-24 23:08] cztuc opened #230 "[Suggestion] Chinese translation of interface"
Hi there,

Thanks very much for making such a great tool.

I just want to raise a few tiny issues with the current Chinese translation of the interface, and have listed them in the following table:

| English  | Current Chinese | Suggested Chinese | Reason |
| ------------- | ------------- |------------- |----------|
| Dark  | 黑暗  |深色 | 黑暗 is a quite formal translation of being black, which is dif

[2021-12-29 01:40] rob-gordon commented on #230
@cztuc This is amazing and very helpful. Thank you! 🙏🏻 I will make these changes in the next round of updates.

[2022-01-13 17:57] mrmanc opened #231 "Text overflows diamond shapes"
Creating a lot of text in a diamond shape causes it to overflow (appear outside the sloped lines of the shape), due to the rectangular nature of the text box. I know this isn’t a trivial problem, but I wanted to make sure you were aware! 😃

Lovely product, although I find the syntactic indentation a little hard to manage with a large diagram. Definitely going to recommend it to people.

[2022-01-13 18:17] rob-gordon commented on #231
Thanks for opening an issue! I've seen this behavior on stars behavior on stars, so it figures it occurs with all the non-rectangular shapes. I'll look into a fix! 🕵️

---

If you have any suggestions, I'm all ears!

[2022-01-13 18:46] rob-gordon commented on #231
True! And it's definitely still possible to declare nodes at the same level, if you find that more readable.
ex: https://flowchart.fun/c#IYKABGAUBGCU5QMb2gyx4RvRaNriA

[2022-01-17 09:02] Randalix opened #232 "Website Down"
To me the website is down. Just to let you know...

[2022-01-17 12:09] rob-gordon commented on #232
@Randalix is that still the case? It's working fine for me.

[2022-01-17 14:06] Randalix commented on #232
Yeah, working for me too now.
Love it btw. :)

[2022-01-17 14:41] rob-gordon commented on #232
Thanks for opening an issue!

[2022-01-17 14:41] #232 closed

[2022-02-03 06:12] physics515 opened #234 "Fonts for SVG downloads"
So, I think this is a simple request. Sorry for the brevity but, could you provide a list of resources, when exporting an SVG, that I would need to make it look the same on my local PC as it does in the editor?

Specifically, fonts. Maybe a link to the Google Fonts page (or whatever you are using) for the fonts used in each theme.

When I download the SVG it just displays the default font and look

[2022-02-03 16:16] rob-gordon commented on #234
Absolutely! You can download all the fonts used from here: https://github.com/tone-row/flowchart-fun/tree/main/app/public/fonts

I'll look into what I can do so that the fonts are embedded by default. I'm not sure what's possible in SVG of the top of my head, but I'm sure I'm not the first person with this problem.

[2022-02-03 22:16] physics515 commented on #234
Just to give a bit more info, I am wanting to edit in Adobe Illustrator. So embedded fonts will not necessarily help me anyway.

I can grab the fonts now but, as you might add more themes in the future it might come up again that someone else needs to download them.

[2022-02-03 22:41] rob-gordon commented on #234
Ah okay, yeah that context is helpful. I'll think about ways to make it more obvious for people in the future wanting to do the same thing. Thanks!

[2022-02-04 15:27] physics515 commented on #234
I tried grabbing the fonts last night, the problem I'm running into is the `.woff2` fonts can't be installed on windows, I tried `cloudconvert.com` to convert them to TrueType fonts but the conversion was not successful. A quick google search didn't turn up `.ttf` versions of most of them either.

Again, it's not a huge issue as I can change the fonts later in Illustrator, but it would be nice to

[2022-02-04 16:02] rob-gordon commented on #234
@physics515 I didn't have any problem converting the Virgil woff2 (-you may not be referring to Virgil, in which case, let me know-) on CloudConvert. However, when I installed the font (I'm on mac, worth noting), the embedded name of the font was actually `Virgil 3 YOFF` – so all the font strings in the SVG, which are just `Virgil`, weren't working. I did a quick Replace All of the strings and the

[2022-02-04 16:06] physics515 commented on #234
Wired! I'll give it another shot later, cloud convert told me that it failed to convert the file. Maybe it was a corrupt download, or something.

[2022-02-04 16:26] physics515 opened #235 "Can't Expand Last Item on Large Charts"
Minor annoyance here! :)

When I have a large chart and collapse the last item, I am unable to expand it again because the "checkmark", to indicate save, blocks the caret to expand the section.

![image](https://user-images.githubusercontent.com/7359379/152564870-53deaca5-2b99-4c91-a319-bc972f186f5c.png)

It's not a huge deal as I can add a line in the collapsed section by placing the cursor at th

[2022-02-04 16:50] physics515 opened #236 "Can not create edge with nonexistent target"
I'm in a situation with my current chart where it resolves fine, I add a new line to the chart with no references and get the error below:
![image](https://user-images.githubusercontent.com/7359379/152568362-98b62344-d3fb-40e8-9c28-75cbafd44604.png)

I'm not sure what is going on here. Is there a limit to the number of nodes in a single chart?

I'd be willing to share the chart with you if you wou

[2022-02-04 18:02] rob-gordon commented on #236
@physics515 I have seen this issue and have a bug ticket for it. I'm hoping to get to it next week. Is it breaking somewhere around the ~150 nodes mark for you?

[2022-02-04 18:16] physics515 commented on #236
That's probably about right. 173 lines w/ some comments.

[2022-02-10 17:13] rob-gordon commented on #236
Hey @physics515 ! Hoping to get this fixed today but I'm having trouble reproducing it now. Any chance you could send me a link to the graph that caused this error for you? You can email it to me (rob.gordon@tone-row.com) if you prefer.

[2022-02-11 12:10] mtlynch opened #246 "Sessions keep expiring on sponsored account"
How long do sessions last? I signed up as a sponsor yesterday, and twice already, I've returned to the flowchart.fun website and found that my session is expired and I have to log in again.

Could the session expiration be longer, like 30 days or never?

[2022-02-11 14:23] rob-gordon commented on #246
Sessions were set to 1 hour- which I agree is too short.

We're using @supabase for auth and the maximum length for expiry is 1 week so I've bumped it up to that. I hope that improves your experience!

[2022-02-11 14:23] #246 closed

[2022-02-11 14:26] rob-gordon commented on #236
@physics515 Thank you! I was able to fix it. It's on our dev brach but will merge to main this weekend. Our dev branch is running here if you need to use it sooner - https://dev.flowchart.fun/ Thanks for opening this issue! I'll close it once it merges.

[2022-02-11 14:33] mtlynch commented on #246
@rob-gordon - Thanks!

[2022-02-11 16:04] physics515 commented on #236
Awesome, just an fyi, I tried to login to the dev branch, and it gives me an error about not being a sponsor. I don't know if that is the correct behavior or not.

I don't need it until next week anyway, I was just wanting to play with it. :)

[2022-02-13 20:27] Rsose opened #247 "Make it as Obsidian plugin"
Hi Rob-gorbon
Thanks for making this great website
Is it possible to embed this website into the [Obsidian](https://publish.obsidian.md/hub/04+-+Guides%2C+Workflows%2C+%26+Courses/for+Plugin+Developers) software? As a plugin
If it can be embedded there will definitely be a lot of people using it therefore
Wait for a reply thanks

[2022-02-13 22:05] #234 closed

[2022-02-13 22:27] rob-gordon commented on #236
That's expected for now. I want to discourage people from using `dev` in general because I can't always guarantee it will be in a good state.

The changes just merged. I tested your sample on https://flowchart.fun and it's working as expected now. Sorry for the inconvenience and thanks for making the issue!

[2022-02-13 22:27] #236 closed

[2022-02-13 22:28] rob-gordon commented on #230
@cztuc Sorry for the delay. These improvements are on https://flowchart.fun now. Thank you again for the suggestions!

[2022-02-13 22:28] #230 closed

[2022-02-22 01:19] ikesau opened #251 "Working around cytoscape error messaging"
EDIT: This was a misguided ticket that misunderstood the issue at hand. I now realize it's about parsing the error messages from a primary dependency of the project, cytoscape.js.

On MacOS Firefox Developer Edition 98.0b6

This bug causes the renderer to crash (but doesn't happen when the tutorial window is open)

<img width="1676" alt="image" src="https://user-images.githubusercontent.com/118444

[2022-02-22 01:25] ikesau commented on #251
After some more playing, this doesn't appear to be an issue when creating a new chart - only when adjusting the default example.

Also appears to be an issue in Chrome

[2022-02-22 04:22] rob-gordon commented on #251
@ikesau You're getting an error because line 11 is expecting to find a target `1` – this will look for either a line with ID `[1]` ([like this](https://flowchart.fun/c#IYKA2gjAugBARiAxiGMAuB7AXDAFBASiA)) or a line with the label `1` ([like this](https://flowchart.fun/c#MwKATCCMIAwgBPALgewFzwBSQJRA)), or this node on the line number 1 ([like this](https://flowchart.fun/c#JYcgtgBA9gdhA2wYFMIEYBQpKwU

[2022-02-22 04:23] rob-gordon commented on #251
Let me know if that doesn't cover it or if the bug is related to the tutorial window.

[2022-02-22 22:39] ikesau commented on #251
Oh god If only I'd actually read the example.  Sorry for the drive-by ticket. 🤦

Two things then:
1. looks like cytoscape.js uses the french spelling of existent
2. The error message reads extremely "programmatically generated by some dependency" which is why I assumed it wasn't my fault 😅 - if we can't change their messaging, could we possibly add some "here's the culprit" line highlighting?

[2022-02-25 14:43] rob-gordon commented on #251
I never caught that- weird!

I totally agree that we need some more human-readable error messages. I've made a task for myself and I'll leave this open until it merges.

Thanks!

[2022-03-12 05:06] physics515 commented on #236
Thank you! Sorry it took so long to reply. But it was working the day you said it would.

[2022-03-25 14:56] rob-gordon commented on #231
Hey @mrmanc ! Merged a bit of shape resizing last week so you'll get better results with text in other shapes now. Going to close this but open up another issue if you have any trouble using it.

Thanks!

[2022-03-25 14:56] #231 closed

[2022-03-25 15:27] rob-gordon commented on #251
@ikesau Going to close this one because error messaging got a little improvement in the last cycle. https://twitter.com/tone_row_/status/1505931806469677063

Thanks for opening!

[2022-03-25 15:27] #251 closed

[2022-03-27 13:09] mrmanc commented on #231
Awesome, thanks so much! 😃
<img width="357" alt="image" src="https://user-images.githubusercontent.com/547606/160282923-698cb1d4-3bfb-4d70-9f1d-8eddac35d505.png">

[2022-03-28 18:32] rob-gordon commented on #171
@beejei Sorry I didn't reply to this idea. I think it's very interesting and I'm leaving the ticket open so I don't forget it. I see a lot of things like this on the horizon for flowchart.fun- many of them are your suggestions 😄 Thank you!

[2022-04-04 02:35] #235 closed

[2022-06-04 03:13] viaahmed opened #304 "Improvement: Show white space"
To track the indents, it would be helpful if white space visibility could be toggled.
BTW, thank you very much for the app, its a dream come true! 🎉🙌

[2022-06-08 13:37] rob-gordon commented on #304
@viaahmed This is definitely possible. Would you rather see whitespace:

![Screen Shot 2022-06-08 at 9 36 06 AM](https://user-images.githubusercontent.com/159949/172630386-52f3b7d3-461c-4141-abb6-364bfe3f0e2a.png)

or indentation guides?

![Screen Shot 2022-06-08 at 9 36 28 AM](https://user-images.githubusercontent.com/159949/172630444-eb8fb790-d146-41f2-9e66-5d8be8671165.png)

[2022-06-08 14:55] rob-gordon commented on #34
@james-powis

True frozen graphs are now possible. Thanks for suggesting this way back!

https://user-images.githubusercontent.com/159949/172648574-cd3efbf4-2b91-44c0-950e-444a2b6549df.mov

[2022-06-08 14:55] #34 closed

[2022-06-09 06:45] viaahmed commented on #304
Yeah, indentation guides are better. Please enable this feature or help me
find it. Thanks :)

On Wed, Jun 8, 2022 at 7:07 PM Rob Gordon ***@***.***> wrote:

[2022-08-17 17:53] avivo commented on #247
If the code to go from flowchart.fun syntax to mermaid syntax is extractable, this should hopefully be straitforward? The DSL you have created is incredibly clean, and I'd love it to be usable in more places without re-implementation.

[2022-08-22 21:29] #304 closed

[2022-08-22 22:05] rob-gordon commented on #304
@viaahmed Bit of a delay :) Indentation guides are up now!

[2022-08-23 06:34] viaahmed commented on #304
🙌 Thanks, for the update

On Tue, Aug 23, 2022 at 3:36 AM Rob Gordon ***@***.***> wrote:

--
Warm Regards
Muddasir
Intern
H&A Hyderabad
----

[2022-08-29 04:27] I2rys opened #328 "Idea: Filter & Box hover links highlight"
Hi,
First off this is the most powerful workflow tool I have used and the fact that It's FREE It's just awesome & I hope It will still be free in the future!
I have 2 suggestions first one is.
Is it possible to add a filter for Flowchart? Like you can filter boxes that matches the string & also highlight It's root branch.
Second Is it possible to add a highlight feature where If you hover on a box

[2022-08-30 18:39] rob-gordon commented on #328
Thanks @I2rys The basic version will continue to be free forever.

I think this is a cool idea. I followed up over email to get your thoughts on how it should work.

I'm struggling to imagine exactly how this would work. In many graphs, if we're looking at parents, children recursively then the entire graph will be connected– so in my mind it makes sense to highlight parents, children, or siblings

[2022-08-31 07:04] I2rys commented on #328
I'll check my email & thank you too. 😄

[2022-09-14 20:04] joelsrubin opened #339 "Idea: Holding `shift` while dragging a node should automatically straighten the line"
Here is an example from microsoft paint (the inspo):

https://user-images.githubusercontent.com/68345201/190251382-7062bcf3-e0d7-4a44-b1f3-c382fcaeee50.mov

[2022-10-04 16:06] rob-gordon commented on #339
I dig this idea! I've also always wanted to allow people to place items on a grid. Maybe I can combine the two ideas somehow.

Leaving this open for future investigation!

[2022-10-09 17:54] 0dminnimda opened #348 "[ENH] Add left rhomboid"
Mermaid have not only rhomboid `a[\"blah"\]` but the left version `b[/"blah"/]` (which is more commonly used to represent io operations)
[code]
From what I understand it should relatively easy to add this
If maintainers don't have time for this, I can make a PR

[2022-10-09 21:54] dcm31 opened #349 "Idea: Option to avoid zooming back out when a node is added"
If I'm zoomed in adding nodes to a large chart. It seems that currently I have to keep zooming back in every time a node is added, since the chart zooms back out every time. I'd like the option to stay locked in on the current area I'm zoomed in on. Let me know if this is actually already possible and I'm missing it. Thanks!

[2022-10-09 22:18] dcm31 commented on #349
Upon further exploration, it looks like sometimes the zoom stays in place and sometimes it resets.

[2022-10-10 22:15] rob-gordon commented on #349
@dcm31 I believe this has to do with whether or not the layout is frozen. If it is frozen, it doesn't change the viewport, and if it isn't frozen (i.e., if auto-layout is enabled) then it zooms to fit the entire graph every time. Let me know if that's not your experience.

I agree, it should be possible to use auto-layout and not have the viewport zoom every time. I will make a PR for this as soon

[2022-10-10 22:18] rob-gordon commented on #348
This app uses [cytoscape-js](https://github.com/cytoscape/cytoscape.js/) which only supports the shapes listed here (the same ones currently available).

I can look into how easy this will be with the custom [shape-polygon-points](https://js.cytoscape.org/#style/node-body) option.

[2022-10-10 23:05] dcm31 commented on #349
Thanks for looking into it! Yes that does indeed appear to be my
experience. Of course, when auto-layout is on, the graph often needs to
completely rearrange itself when a new node is added, so I think it’d be
best to stay locked in on whatever node was just added rather than staying
locked in at specific X Y coordinates if that makes sense.

On Mon, Oct 10, 2022 at 5:15 PM Rob Gordon ***@***.***>

[2022-11-13 21:43] RickStanley opened #359 "Editor spellcheck"
It would be great if it was possible to have the system's (or browser's) native spellcheck enabled in the editor, by right clicking it and enabling the according languages.

Like in Firefox:
![grafik](https://user-images.githubusercontent.com/23178554/201545892-486fdf69-02cd-4ef6-8d62-ab8534e763fd.png)

or Vivaldi's:
![grafik](https://user-images.githubusercontent.com/23178554/201545915-ec2e5967-e

[2022-11-14 19:43] RickStanley commented on #359
Oh, I see. Seems to be an upstream issue/feature, should I close this one?

[2022-11-14 19:45] rob-gordon commented on #359
Sure. Sorry we can't support it yet!

[2022-11-14 19:49] RickStanley commented on #359
No problem! For some reason, I was sure flowchart was using [Codemirror](https://codemirror.net/) behind the scenes, it doesn't have the right-click "problem". Thanks anyway!

[2022-11-14 19:49] #359 closed

[2022-11-21 21:43] physics515 opened #369 "Add Dual Window/Monitor Support"
I want to start by saying that I have no idea the technical issues surrounding this however, I think it would be useful for Dual Monitor workflows if you could have the "text pane" and the "chart pane" in two separate windows.

I am currently using an ultrawide monitor and when working with deeply nested charts it is still a bit cumbersome to use because of the constant horizontal scrolling.

If i

[2022-11-22 19:28] rob-gordon commented on #369
Based on my quick test– this works with local charts already if you have two browser windows pointed to the same local chart.

Making this work with hosted charts is significantly more complicated and I'll probably hold off on adding this feature until I decide to build out some kind of multiplayer mode.

Will that work for your needs for now?

https://user-images.githubusercontent.com/159949/2034